<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @burger.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @burger.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @burger.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @burger.image %>
</p>

<p>
  <strong>Nutriscore:</strong>
  <%= @burger.nutriscore %>
</p>

<p>
  <strong>Nutriments:</strong>
  <%= @burger.avoir_nutriments %>
  <table class="tableau">
    <% i = 0 %>
    <% if $value.nil? %>
      print error
    <% else %>
      <% while i < $value.length %>
        <tr>
          <td class="tableau"><%= $value[i] %></td>
          <% i = i + 1 %>
          <td class="tableau"><%= $value[i] %></td>
          <% i = i + 1 %>
        </tr>
      <% end %>
    <% end %>
  </table>

  

<%= link_to 'Edit', edit_burger_path(@burger) %> |
<%= link_to 'Back', burgers_path %>
